@font-face {
    font-family: DS-Digital-i;
    src: url(/font/DS-DIGII.TTF);
}

@font-face {
	font-family: Bistream Vera;
	src: url(/font/VeraMono.ttf);
	font-weight: normal;
}

@font-face {
	font-family: Bistream Vera;
	src: url(/font/VeraMoBd.ttf);
	font-weight: bold;
}

body {
    display: table;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
	background-color: #738a7b;
}

#table {
	background-image: url("/img/light.png");
	border: 5px solid black;
	position: relative;
	display: inline-block;
}

#board {
	margin-left: 10px;
	display: inline-block;
	vertical-align: top;
	width: 200px;
	position: relative;
}

#snake {
	/*position: absolute;*/
}

img.piece, #fruit {
	position: absolute;
}

span.score {
	font-family: DS-Digital-i;
	display: block;
	text-align: center;
	font-size: 40px;
}

span.score#gameover {
	color: #63796b;
	margin-top: 30px;
}

button {
	background-color: transparent;
    border: 3px solid black;
    font-family: DS-Digital-i;
    font-size: 40px;
    display: block;
    width: 100%;
    /*margin-top: 20px;*/
    cursor: pointer;
    box-sizing: border-box;
    height: 52px;
    margin-bottom: 30px;
}

button:hover {
	border-width: 5px;
}

button:disabled {
	color: #63796b;
	border-color: #63796b;
	pointer-events: none;
}

.center {
	display: table-cell;
    vertical-align: middle;
}

.cell {
	display: table;
    margin: auto;
}

.footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
}

.footer .tools img {
	height: 40px;
}

.footer .tools img:not(:first-child) {
	margin-left: 15px;
}

.footer a {
	font-family: "Bistream Vera";
	font-size: 20px;
	color: black;
}

.footer a:hover {
	font-weight: bold;
	cursor: pointer;
}

.footer a img {
	height: 20px;
	position: relative;
	top: 3px;
}